.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    padding: 0 20px;
}

.filme-info h1{
    margin: 14px 0;
    text-align: center;
    color: #7c137b;
}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 380px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 13px;
    text-align: center;
    color: #7c137b;
}

.filme-info span{
    margin: 8px 0;
    text-align: center;
    align-items: center;
    color: #bd72bd;
}

.filme-info strong{
    margin: 8px 0;
    font-size: 30px;
    color: #bd72bd;
    text-align: center;
    align-items: center;
}


.area-buttons button{
    margin-right: 12px;
    margin-top: 15px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #7c137b;
    color: #ffffff;
    align-items: center;
    text-align: center;
    width: 100%;
    
}


.area-buttons button:hover{
    color: #000000;
    background-color: #ffd1ff;
}

.area-buttons a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}

.area-buttons a:hover{
    color: #000000;
}



